



.jumbotron-header{
padding-top: 250px;
 padding-bottom:250px;
 background-image:url("images/beach.jpg");
 width:100%;
 height:100%;
 background-size:cover;
 background_repeat:no-repeat;
 background-attachment:fixed;
 text-align: center;

}
.navbar-sticky{
position:sticky;
 top: 0;
 padding:5px;
}

h1 {
color: white;
}

h2 {

}

p{

}
.topmenu {

}
